{{!-- Header --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="nav-item nav-link " id="irAScrape" href="/scrape" target="_blank">¡Show me the news!</a>

      <a class="nav-item nav-link " href="/saved">Go to Saved Articles </a>
  </div>
</nav>

<img src="https://www.clicktechtips.com/wp-content/uploads/2017/04/best-news-apps-for-android-users-768x278.jpg">


{{!-- Aquí aparecen todos los artículos de scraping. Estos artículos no estan guardados en MongoDB, es sólo scraping --}}
<ul class="list-group">
  {{#each losarticulos}}
  	<li class="list-group-item">
        <p>
          {{this.title}}
          <button id="savearticle">Save</button>
        </p>
  	</li>
  {{/each}}
</ul>

